<section id="consultants" class="row align-items-center">
  <div class="data col-desktop-40 col-tablet-40 col-phablet-100 col-phone-100">
    <div class="row">
      <div class="col-80 col-tablet-100 col-phablet-100 col-phone-100">
        <h1>¿Necesitas un consultor profesional en puebla ?</h1>
        <div class="spacing"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
          illo culpa placeat esse minus. Debitis laborum aliquam architecto
          porro doloribus tempore suscipit labore! Odio voluptates tenetur optio
          necessitatibus nemo voluptatibus?
        </p>

        <a
          class="d-block text-decoration-none fit-content"
          target="_blank"
          [href]="whatsAppUrl"
        >
          <div class="spacing"></div>
          <shared-button
            [title]="'Solicitar informes'"
            [imagePath]="'./assets/whatsApp-white.svg'"
            [imageAlt]="'Contacto de Dike Consultores Puebla'"
          ></shared-button>
        </a>
      </div>
    </div>
  </div>
  <div
    class="col-desktop-60 consultans-scroll col-tablet-60 col-phablet-100 col-phone-100 carousel-container"
    [style.background-image]="backgroundImage"
  >
    <div class="justify-content-center h-100 d-flex align-items-center">
      <div class="col-desktop-80 col-tablet-80 col-phablet-100 col-phone-100">
        <div class="d-flex">
          <div class="consultant" *ngFor="let consultant of consultants">
            <shared-card-consultant
              [consultant]="consultant"
            ></shared-card-consultant>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
