<div id="header" class="row align-items-center">
  <div (click)="scroll('header')" class="cursor-pointer fit-content logo">
    <img [src]="headerLogo" alt="Dike consultoría en Puebla" />
  </div>
  <div class="col">
    <nav *ngIf="showMenuServices" class="nav1">
      <ul class="d-flex">
        <li
          (click)="changeService(i); scroll('services')"
          [class.active]="i === activeIndex"
          class="open-sans cursor-pointer text-uppercase"
          *ngFor="let service of servicesNames; let i = index"
        >
          {{ service }}
        </li>
      </ul>
    </nav>
    <hr *ngIf="showMenuServices" />
    <div>
      <nav class="nav2">
        <ul class="d-flex">
          <li (click)="scroll('services-hero')">NUESTROS SERVICIOS</li>
          <li (click)="scroll('about')">ACERCA DE NOSOTROS</li>
          <li (click)="scroll('consultants')">DIKE CONSULTORES</li>
          <li>CONTACTO</li>
        </ul>
      </nav>
    </div>
  </div>
</div>
