<div id="header" class="row align-items-center">
  <div class="fit-content logo">
    <img [src]="headerLogo" alt="Dike consultoría en Puebla" />
  </div>
  <div class="col">
    <nav *ngIf="showMenuServices" class="nav1">
      <ul class="d-flex">
        <li><a>ELECCIONES Y DEMOCRACIA</a></li>
        <li><a>CAPACITACIÓN</a></li>
        <li><a>FISCALIZACIÓN</a></li>
        <li><a>JUSTICIA ELECTORAL</a></li>
      </ul>
    </nav>
    <hr *ngIf="showMenuServices" />
    <div>
      <nav class="nav2">
        <ul class="d-flex">
          <li><a>NUESTROS SERVICIOS</a></li>
          <li><a>ACERCA DE NOSOTROS</a></li>
          <li><a>DIKE CONSULTORES</a></li>
          <li><a>CONTACTO</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
