<section id="about" class="row">
  <div class="col d-flex justify-content-center">
    <div class="about-image" [style.background-image]="aboutImage"></div>
  </div>
  <div
    class="col d-flex align-items-center justify-content-center flex-direction-column"
  >
    <div class="data">
      <p class="what-text yellow-color">
        <strong>Consultoría en Puebla</strong>
      </p>
      <div class="medium-spacing"></div>
      <h1>Gente capacitada con más de 25 años de experiencia.</h1>
      <div class="medium-spacing"></div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo deleniti
        modi nobis temporibus accusamus amet illum quod esse repudiandae
        expedita reiciendis, facere rem ullam accusantium illo consectetur
        dolorem? Expedita, harum!
      </p>
      <div class="spacing"></div>
      <div class="row">
        <div class="col">
          <div class="d-flex align-items-center">
            <div class="square"></div>
            <h3>Servicios de asesoría</h3>
          </div>
          <div class="medium-spacing"></div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
            deleniti modi nobis temporibus.
          </p>
        </div>
        <div class="medium-spacing"></div>
        <div class="col">
          <div class="d-flex align-items-center">
            <div class="square"></div>
            <h3>Servicios de asesoría</h3>
          </div>
          <div class="medium-spacing"></div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo
            deleniti modi nobis temporibus.
          </p>
        </div>
      </div>
      <br /><br />
      <div class="featured-image d-flex align-items-center">
        <img
          [src]="featuredImagePath"
          alt="César, Director de Dike, consultoría en Puebla"
        />
        <div class="medium-spacing"></div>
        <div>
          <h2 class="open-sans black-color">César Lorem Ipsum Dolor</h2>
          <div class="extra-small-spacing"></div>
          <p>Director de Dike consultoría en Puebla</p>
        </div>
      </div>
    </div>
  </div>
</section>
