<section id="hero" class="row" [style.background-image]="backgroungImage">
  <div class="content row">
    <div class="col-30 d-flex flex-direction-column justify-content-center">
      <h1>Dedicados a un cliente a la vez.</h1>
      <p class="inria-serif-regular">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta
        cupiditate perferendis pariatur ipsa quis ut repellendus, nihil optio
        dolorem quod doloremque commodi voluptate praesentium. Quo voluptates
        iusto voluptatem quae!
      </p>
    </div>
  </div>
</section>

<section id="services-hero" [style.background-image]="servicesHeroImage">
  <div class="content row">
    <div class="col">
      <h1 class="color-white">
        Consulta todos los servicios que tenemos para tí.
      </h1>
    </div>
    <div class="col">
      <div class="row nav">
        <div class="col">
          <a href="">Elecciones y democrácia</a>
        </div>
        <div class="spacing"></div>
        <div class="col">
          <a href="">Fiscalización</a>
        </div>
      </div>
      <br />
      <br />
      <div class="row nav">
        <div class="col">
          <a href="">Capacitación</a>
        </div>
        <div class="spacing"></div>
        <div class="col">
          <a href="">Justicia electoral</a>
        </div>
      </div>
    </div>
  </div>
</section>
