hr
  border: 0
  border-bottom: 1px solid #E9E9E9

.inria-serif-regular
  font-family: "Inria Serif", serif
  font-weight: 400
  font-style: normal

.inria-serif-bold
  font-family: "Inria Serif", serif
  font-weight: 700
  font-style: normal

.yellow-color
  color: #E0BF8C !important

.white-color
  color: #FFFFFF

.blue-color
  color: #002B56

.black-color
  color: #000

body
  font-family: "Open Sans", sans-serif

h1,h2,h3,h4,h5,h6
  font-family: "Inria Serif", serif
  font-weight: 700
  font-style: normal
  margin: 0
  padding: 0
  color: #002B56
  margin: 0

p
  margin: 0

.open-sans
  font-family: "Open Sans", sans-serif !important

.square
  width: 15px
  height: 15px
  margin-right: 10px
  background-color: #E0BF8C
