<section id="contact">
  <div class="d-flex content">
    <div class="col">
      <div class="contact-form d-flex flex-direction-column">
        <label for="">Nombre</label>
        <input type="text" name="name" id="" />
        <label for="">Correo electrónico</label>
        <input type="email" name="name" id="" />
        <label for="">Mensaje</label>
        <textarea name="" id="" cols="30" rows="5"></textarea>
        <shared-button [title]="'Enviar mensaje'"></shared-button>
      </div>
    </div>
    <div class="spacing"></div>
    <div class="col text-center">
      <div class="row justify-content-center">
        <div class="col-70">
          <h1>Resuelve hoy, estamos a una llamada de distancia</h1>
          <br /><br />
          <h2 class="black-color">
            <a href="">
              15 Sur, número 7932, col. San José Mayorazgo. CP 72450 Puebla,
              Pue.
            </a>
          </h2>
          <br /><br />
          <h2 class="black-color">
            <a href="mailto:retodiario@gmail.com">
              retodiario&#64;hotmail.com
            </a>
          </h2>
          <br /><br />
          <h2 class="black-color">
            <a href="tel:+522224639334">2224639334</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
