<section id="services-hero" [style.background-image]="servicesHeroImage">
  <div class="content row">
    <div class="col-desktop col-tablet col-phablet-100 col-phone-100">
      <p class="what-text yellow-color">
        <strong>Consultoría en Puebla</strong>
      </p>
      <div class="medium-spacing"></div>
      <h1 class="white-color">
        Consulta todos los servicios que tenemos para tí.
      </h1>
    </div>
    <div class="col-desktop col-tablet col-phablet-100 col-phone-100 services">
      <div class="row nav">
        <div
          class="col element cursor-pointer"
          (click)="changeService(1); scroll('services')"
        >
          Capacitación
        </div>
        <div class="spacing"></div>
        <div
          class="col element cursor-pointer"
          (click)="changeService(0); scroll('services')"
        >
          Fiscalización
        </div>
      </div>
      <br />
      <br />
      <div class="row nav">
        <div
          class="col element cursor-pointer"
          (click)="changeService(2); scroll('services')"
        >
          Justicia electoral
        </div>
        <div class="spacing"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</section>
