<section id="services-hero" [style.background-image]="servicesHeroImage">
  <div class="content row">
    <div class="col">
      <p class="what-text yellow-color">
        <strong>Consultoría en Puebla</strong>
      </p>
      <div class="medium-spacing"></div>
      <h1 class="white-color">
        Consulta todos los servicios que tenemos para tí.
      </h1>
    </div>
    <div class="col">
      <div class="row nav">
        <div class="col">
          <a href="">Elecciones y democrácia</a>
        </div>
        <div class="spacing"></div>
        <div class="col">
          <a href="">Fiscalización</a>
        </div>
      </div>
      <br />
      <br />
      <div class="row nav">
        <div class="col">
          <a href="">Capacitación</a>
        </div>
        <div class="spacing"></div>
        <div class="col">
          <a href="">Justicia electoral</a>
        </div>
      </div>
    </div>
  </div>
</section>
