<section id="services" #servicesSection>
  <br />
  <div class="menu m-auto d-flex justify-content-center">
    <nav>
      <ul class="row">
        <li
          (click)="changeService(i)"
          [class.active]="i === activeIndex"
          class="inria-serif-bold cursor-pointer"
          *ngFor="let service of servicesNames; let i = index"
        >
          {{ service }}
        </li>
      </ul>
    </nav>
  </div>
  <br />
  <div class="content m-auto">
    <div class="row align-items-center">
      <div class="col-desktop col-tablet col-phablet-100 col-phone-100">
        <h1>{{ this.currentService.fullName }}</h1>
        <br />
        <p [innerHTML]="this.currentService.description"></p>
        <br />
        <a
          class="d-block text-decoration-none fit-content"
          target="_blank"
          [href]="whatsAppUrl"
        >
          <shared-button
            [title]="'Solicitar informes'"
            [imagePath]="'/assets/whatsApp-white.svg'"
            [imageAlt]="'Contacto de Dike Consultores Puebla'"
          ></shared-button>
        </a>
      </div>
      <div class="spacing"></div>
      <div class="col-desktop col-tablet col-phablet-100 col-phone-100 points">
        <div class="content">
          <ul>
            <li
              *ngFor="let point of this.currentService.points"
              [innerHTML]="point"
            ></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
</section>
